@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor01: #80ed99;
    --cor02: #a4c3b2ff;
    --cor03: #cce3deff;
    --cor04: #eaf4f4ff;
    --cor05: #f6fff8ff;

    --font: 'Roboto Mono', sans-serif;

    --shadow: rgba(0, 0, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--cor03);
}

header {
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: var(--cor04);
    box-shadow: 0px 0px 10px var(--shadow);
}

header h1 {
    margin-bottom: 10px;
    width: 100%;
}

main {
    max-width: 800px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid var(--shadow);
    background-color: #fff;
    box-shadow: 0 0 15px var(--shadow);
}

main h2 {
    margin-bottom: 20px
}

main label {
    display: block;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

main label:hover {
    background-color: rgb(204, 240, 255);
    border-radius: 10px;
}

main button {
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    font-weight: 500;
    background-color: var(--cor01);
    border: 1px solid var(--shadow);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer p {
    max-width: 400px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(129, 0, 185);
}