@charset "UTF-8";

:root {
    --cor01: #e4e4e4;
    --cor02: #5f5f5f;
    --cor03: #1b1b1b;
    --cor04: #00000066;

    --font01: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font01);
    background-color: var(--cor03);
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    color: var(--cor01);
}

table img {
    width: 20px;
    cursor: pointer;
}

table td, table th {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--cor01);
    width: 70px;
    font-size: 0.8em;
}

table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6),
table td:nth-child(8) {
    width: 150px;
}