@charset "UTF-8";



:root {
    --cor01: #fff;
    --cor02: #5f5f5f;
    --cor03: #1b1b1b;
    --cor04: #00000066;

    --font01:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font01);
    background-color: var(--cor03);
}

header {
    width: 700px;
    margin: 10px auto 15px auto;
    padding: 20px;
    border-bottom: 1px solid;
    text-align: center;
    color: var(--cor01);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 80px;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid rgb(199, 7, 7);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
    margin: auto;
    font-size: 1.1em;
    color: var(--cor01);
}

form label {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 320px;
    height: 30px;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form label input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}

input[id="codigo"] {
    background-color: var(--cor02);
}

form button {
    margin: 18px 0 10px 0;
    padding: 8px  16px;
    background-color: greenyellow;
    border: 1px solid var(--cor04);
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    color: var(--cor01);
}

table img {
    width: 20px;
    cursor: pointer;
}

table td, table th {
    padding: 5px;
    text-align: center;
    border: 1px solid var(--cor01);
    width: 90px;
    font-size: 0.8em;
}
